<div class='job-details'>
    <div class='archive-btn'>
        <form method="POST" action="/jobs/<%= job._id%>">
            <button>Archive</button>
        </form>
    </div>
     <div class='edit-btn'>
            <a href ='/jobs/<%= job._id%>/edit/'>Edit job</a>
        </div>
    <h1>Job Details</h1>
    <div class='job-position'>
        <%= job.position %>
    </div>
    <div class='job-description'>
        <%= job.description %>
    </div>
</div>
<div class='applicants'>
    <h2>Applicants</h2>
    <% job.applications.forEach((applicant) => { %>
    <p>Applicant: <%= applicant.user.name %></p>
    <p>Message: <%= applicant.text %></p>
    <div class='accept-btn'>
        <form method="POST" action="/jobs/<%= job._id%>/<%= applicant.user._id%>/approve">
            <button>Accept</button>
        </form>
    </div>
    <% if (job.successCandidate !== null){ %>
        <% if(job.successCandidate.id === applicant.user.id){ %>
        <div class="whatever">
            Candidate accepted
        </div>
        <% } %>
    <% } %>
    <% }) %>
</div>
<span>Back to <a href="/my-jobs">My Jobs</a></span>